@{
    ViewData["Title"] = "Contactenos";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<address>
    <strong>Soporte:</strong> <a href="mailto:Support@example.com">alejandrohuertas1992@gmail.com</a><br />
</address>
